*,
*::after,
*::before {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
html, body {
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background: var(--bg-color);
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#main {
  opacity: 0;
  transition: opacity 200ms;
}
#main.loaded {
  opacity: 1;
}
a:hover {
    text-decoration: none;
    /*background: url(../../fonts/Montserrat-Medium.ttf)*/
}
.line {
  position: relative;
  overflow: hidden;
  display: flex;
}
.line div {
  visibility: hidden;
}
/* Fonts */
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Montserrat-Medium';
	src: url('../../fonts/Montserrat-Medium.ttf')
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Montserrat-Light';
	src: url('../../fonts/Montserrat-Light.ttf')
}
.conmune-1 {
    --bg-color: #fff;
    --text-color: #383838;
    --paragraph-color: #999999;
    --main-color: #2943E2;
    --secondary-color: #F0F3FF;
    --tertiary-color: #88E663;
    --main-font: 'Montserrat-Medium';
    --text-font: 'Montserrat-Light';
}
.cursor {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transform-origin: 100% 100%;
  mix-blend-mode: exclusion;
  z-index: 99;
}
.link-grow {
  background: white;
}
/****************************************** NAVIGATION ************************************/
#mainNav {
    transform: translateY(0);
    transition: padding-top 0.3s, padding-bottom 0.3s;
    padding-top: 8px;
    padding-bottom: 8px;
    background: transparent;
    transform: translateY(0);
    opacity: 1;
    z-index: 9;
}
.navbar-brand img {
    width: 60px;
}
.navbar-toggler {
  position: absolute;
  width: 40px;
  top: 20px;
  right: 30px;
  padding: 5px;
  cursor: pointer;
  border: 0;
  z-index: 1;
}
.navbar-toggler span {
  display: block;
  background: var(--main-color);
  width: 30px;
  height: 1px;
  transition: 300ms linear all;
}
.navbar-toggler span:nth-child(1) {
  width: 20px;
  margin-left: 20px;
}
.navbar-toggler span:nth-child(2) {
  width: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.navbar-toggler span:nth-child(3) {
  width: 20px;
}
.navbar-toggler:hover span:nth-child(1) {
  width: 32px;
  margin-left: 0%;
}
.navbar-toggler:hover span:nth-child(2) {
  width: 32px;
}
.navbar-toggler:hover span:nth-child(3) {
  width: 32px;
  margin-left: 0%;
}
.navbar-brand {
    margin-right: 0;
}
.nav-item a {
    padding: 7px 17px !important;
    font-size: 15px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-family: var(--text-font);
}
#gradient:hover {
    background: linear-gradient(#2943E2, #4557f6,#b5a8dd,#12151f);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.nav-item a span {
    color: var(--text-color);
    font-weight: bold;
}
#lock {
    width: 3%;
    margin-top: -1%;
}
#login {
    vertical-align: middle;
}
.nav-item #access {
    padding: 7px 25px !important;
    font-size: 15px;
    background: transparent;
    color: #9194a8;
    border: 1px solid var(--main-color);
    transition: all 0.8s ease;
    margin-bottom: 3%;
}
.nav-item #access:hover {
    transition: all 0.8s ease;
    mix-blend-mode: normal;
    color: var(--bg-color);
    background: #4557f6;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,0.35);
}
    #mainNav.navbar-shrink {
        padding-top: 15px;
        padding-bottom: 15px;
        /*background-color: #fff;*/
    }

#mainNav.navbar-shrink {
  position: fixed;
  background: var(--bg-color);
  animation-name: animationFade;
  animation-duration: 1s;
  animation-fill-mode: both;
  box-shadow: -1px 9px 40px -30px rgba(0,0,0,0.35);
  width: 100%;
}
@keyframes animationFade {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -o-transform: none;
  }
}
/***************************************** Hero_Section **************************************/
#hero {
    padding-top: 30%;
}
.hero-intro {
    margin: 1%;
    background: #EFF0F2;
    padding-bottom: 4%;
}
.form_container {
    padding: 3%;
}
#sign_img {
    position: absolute;
    top: 85%;
    left: 0%;
    width: 70%;
}
.form_container h1 {
    font-size: 3.5vh;
    color: var(--main-color);
    font-family: var(--main-font);
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.1;
    margin-top: 8%;
    margin-bottom: 10%;
}
.form_container p {
    font-size: 2vh;
    color: var(--text-color);
    font-family: var(--text-font);
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.2;
    margin-top: 8%;
    margin-bottom: 10%;
}
.form_container input {
    border-radius: 10px;
    border: transparent;
}
.form_container ::placeholder {
    color: var(--paragraph-color);
    font-family: var(--text-font);
    font-size: 2vh;
    letter-spacing: 1px;
}
.form_container #a_button {
    color: var(--bg-color);
    font-family: var(--text-font);
    font-size: 2.5vh;
    padding: 8px 30px;
    letter-spacing: 1px;
    margin-top: 8%;
    margin-bottom: 8%;
    background: var(--main-color);
    transition: all 0.8s ease;
}
.form_container #a_button:hover {
    transform: translateY(-7p);
    transition: all 0.8s ease;
    mix-blend-mode: normal;
    color: var(--bg-color);
    background: #4557f6;
}
.form_container #a_text {
    font-size: 2.2vh;
    color: var(--paragraph-color);
    font-family: var(--text-font);
    letter-spacing: 1px;
}
.form_container #a_text span {
    border-bottom: 1px solid var(--paragraph-color);
}

.sign_up-intro {
    margin-top: 10%;
}
.sign_up-intro #a_button {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 2.5vh;
    padding: 8px 25px;
    letter-spacing: 1px;
    margin-top: 5%;
    margin-bottom: 8%;
    background: transparent;
    border: 1px solid var(--text-color);
    transition: all 0.8s ease;
    margin-left: 1%;
}
.sign_up-intro #a_button:hover {
    color: var(--main-color);
    border: 1px solid var(--main-color);
    transition: all 0.8s ease;
    transform: translateY(-7px);
}
.sign_up-intro #a_text {
    font-size: 2.2vh;
    color: var(--text-color);
    font-family: var(--text-font);
    letter-spacing: 1px;
}
/************************************************** Footer-Section ******************************************/
#footer {
    margin-top: 5%;
    background: var(--secondary-color);
    padding-top: 15%;
}
.footer-intro {
    margin: 3%;
}
.footer-intro #footer_logo {
    width: 60%;
    margin-left: 37%;
    margin-bottom: 16%;
}
.footer-intro li {
    list-style: none;
    margin-left: 2%;
    font-size: 2.2vh;
    color: var(--paragraph-color);
    font-family: var(--text-font);
    letter-spacing: 1px;
    margin-bottom: 2%;
}
#active_link span {
    color: var(--text-color);
}
.footer-intro p {
    font-size: 2.3vh;
    color: var(--text-color);
    font-family: var(--text-font);
    letter-spacing: 1px;
    margin-top: 10%;
    margin-bottom: 20%;
    line-height: 1.5;
}
.footer-intro #phone {
    width: 60%;
    margin-top: 5%;
    margin-left: 5%;
    animation: circle1 15s linear infinite;
}
@keyframes circle1 {
    from {
        transform: rotate(0deg)
            translate(-30px)
            rotate(0deg);
    }
    to {
        transform: rotate(360deg)
            translate(-30px)
            rotate(-360deg);
    }
}

/*************************************************** Footer *************************************/
footer {
    margin-top: 1%;
}
footer p {
    text-align: center;
    font-size: 1.8vh;
    color: var(--text-color);
    font-family: var(--text-font);
    letter-spacing: 1px;
}
/********************** Extra small devices (portrait phones, less than 576px) ****************************/
@media (max-width: 575.98px) { 
#mainNav {
    background: var(--bg-color);
}
.nav-item a {
    margin-left: -4%;
}
.nav-item #access {
    margin-left: -1%;
    width: 50%;
}
.cursor {
    display: none;
}
#sign_img {
    display: none;
}
.form_container #a_button {
    display: block;
}
}
/************************ Small devices (landscape phones, 576px and up) *****************************/
@media (min-width: 576px) and (max-width: 767.98px) { 
      
}

/***************************** Medium devices (tablets, 768px and up) ********************************/
@media (min-width: 768px) and (max-width: 991.98px) { 
    
}

/********************************** Large devices (desktops, 992px and up) *********************************/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
}

/************************ Extra large devices (large desktops, 1200px and up) ********************************/
@media (min-width: 1200px) {
#mainNav {
    margin-left: 2.5%;
    margin-right: 3%;
}
#mainNav.navbar-shrink {
  padding-left: 2.5%;
  margin-left: 0%;
  padding-right: 5% !important;
}
#lock {
    width: 12%;
    margin-top: -5%;
}
.nav-item #access {
    margin-bottom: 0%;
}
#hero {
    padding-top: 0%;
}
.hero-intro {
    margin: 10%;
    padding-bottom: 0%;
}
#sign_img {
    top: 15%;
    left: 63%;
    width: 30%;
}
.form_container {
    padding: 3%;
}
.form_container h1 {
    font-size: 5.5vh;
    margin-top: 3%;
    margin-left: -30%;
    margin-bottom: 0%;
}
.form_container p {
    font-size: 2.4vh;
    margin-left: -30%;
    margin-top: 3%;
    margin-bottom: 5%;
}
.form_container p span {
    display: block;
}
.form_container input {
    width: 70%;
    
}
.form_container #a_button {
    font-size: 2.3vh;
    margin-top: 3%;
    margin-bottom: 4%;
}
.form_container #a_text {
    font-size: 2.1vh;
    margin-left: 1%;
    transition: all 0.8s ease;
}
.form_container #a_text:hover {
    color: var(--main-color);
    transition: all 0.8s ease;
}
    
.sign_up-intro {
    margin-top: -12%;
}
.sign_up-intro #a_button {
    font-size: 2.3vh;
    margin-top: 8%;
    margin-bottom: 9%;
}
.sign_up-intro #a_button:hover {
    color: var(--main-color);
    border: 1px solid var(--main-color);
    transition: all 0.8s ease;
    transform: translateY(-4px);
}
.sign_up-intro #a_text {
    font-size: 2.2vh;
    color: var(--text-color);
    font-family: var(--text-font);
    letter-spacing: 1px;
}
#footer {
    margin-top: 3%;
    padding-top: 5%;
}
#text_footer {
    margin-left: -5%;
}
.footer-intro #footer_logo {
    width: 25%;
    margin-left: 67%;
    margin-bottom: 15%;
}
.footer-intro li {
    margin-left: 5%;
    font-size: 2.1vh;
    display: inline-block;
}
.footer-intro p {
    font-size: 2.3vh;
    margin-top: 3%;
    margin-bottom: 0%;
    margin-left: 5%;
}
.footer-intro #phone {
    width: 60%;
    margin-top: 25%;
    margin-left: 5%;
}
footer {
    margin-top: -2%;
}
footer p {
    font-size: 2vh;
}
}

